################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiJet/MultiJet/bin/Debug
/MultiJet/MultiJet/obj/Debug
/MultiJet/.vs/MultiJet/v14
/MultiJet/MultiJet/bin/Release
/MultiJet/MultiJet/obj/Release
